# Make it so github doesn't show stats for vendored files.
external/* linguist-vendored
external/** linguist-vendored
include/steam/* linguist-vendored
include/steam/** linguist-vendored
include/glad/* linguist-vendored
include/glad/** linguist-vendored
include/KHR/* linguist-vendored
include/KHR/** linguist-vendored

